@model InvitationPage

@section Title {
    <text style="position: relative">Gracias por confirmar!</text>
}

<div>
    @if (Model.Invitation.Response.Value)
    {
        <text>Y estamos re contentos de que venga@(Model.Invitation.UsePlural ? "n" : "s"), @Model.Invitation.NameToUse!</text>
    }
    else
    {
        <text>Y estamos tristes por que no va@(Model.Invitation.UsePlural ? "n" : "s") a acompañarnos, @Model.Invitation.NameToUse!</text>
    }
</div>
@if (Model.Invitation.Response.Value)
{
    var pluralConfirmado = (Model.Invitation.ConfirmedAdults ?? 0) + (Model.Invitation.ConfirmedKids ?? 0) + (Model.Invitation.ConfirmedBabies ?? 0) != 1;
    var parts = new List<string>();
    if ((Model.Invitation.ConfirmedAdults ?? 0) > 0)
    {
        parts.Add(Model.Invitation.ConfirmedAdults + " adulto" + (Model.Invitation.ConfirmedAdults.Value != 1 ? "s" : ""));
    }
    if ((Model.Invitation.ConfirmedKids ?? 0) > 0)
    {
        parts.Add(Model.Invitation.ConfirmedKids + " niño" + (Model.Invitation.ConfirmedKids.Value != 1 ? "s" : ""));
    }
    if ((Model.Invitation.ConfirmedBabies ?? 0) > 0)
    {
        parts.Add(Model.Invitation.ConfirmedBabies + " bebé" + (Model.Invitation.ConfirmedBabies.Value != 1 ? "s" : ""));
    }
    var confirmation = "";
    for (var i = 0; i < parts.Count; i++)
    {
        confirmation += parts[i];
        if (i == parts.Count - 1)
        {
            // it's the last one... don't add anything
        }
        else if (i == parts.Count - 2)
        {
            confirmation += " y ";
        }
        else
        {
            confirmation += ", ";
        }
    }

    <div class="pt-4">
        El festejo es el <span class="text-2xl">8 de Enero a las 12 hs</span> en Punto y Coma, que queda en <span class="text-2xl">Eduardo Acevedo 1034</span> (<a href="https://goo.gl/maps/1gV7F8rdwwf3e5Tf7" target="_blank" class="underline">ver en Google Maps</a>).
    </div>
    <div class="pt-4">
        Tenemos registrado que va@(pluralConfirmado ? "n" : "s") a venir @confirmation. Si necesit@(Model.Invitation.UsePlural ? "an" : "ás") cambiar la respuesta o actualizar las cantidades, @(Model.Invitation.UsePlural ? "pueden" : "podés") <a href="/@Model.Invitation.Code/update" class="underline">hacer click acá</a>.
    </div>
}
else
{
    <div class="pt-4">
        Tenemos registrado que no va@(Model.Invitation.UsePlural ? "n" : "s") a venir :( Si necesit@(Model.Invitation.UsePlural ? "an" : "ás") cambiar la respuesta, @(Model.Invitation.UsePlural ? "pueden" : "podés") <a href="/@Model.Invitation.Code/update" class="underline">hacer click acá</a>
    </div>
}