@model InvitationPage

@section Title {
    <text>Hola @Model.Invitation.Name! el 9 de Enero...</text>
}

<form method="post" action="/@Model.Invitation.Code">
    <div class="pt-4">
        y lo vamos a festejar <span class="text-2xl">a las 13</span> en Samba 2, que queda en <span class="text-2xl">Edil Hugo Prato 2333</span> (<a href="https://goo.gl/maps/gaYYb7yDnFi2c64U7" target="_blank" class="text-black underline">ver en Google Maps</a>)
    </div>
    <div class="pt-4">
        <div class="inline-block relative w-full">
            <select name="@nameof(Model.RSVPResponse)" class="js-response-field text-black block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                <option value="">Va@(Model.Invitation.UsePlural ? "n" : "s") a venir al cumpleaños?</option>
                <option value="True">Si! @(Model.Invitation.UsePlural ? "vamos" : "voy") a ir!</option>
                <option value="False">No, no @(Model.Invitation.UsePlural ? "vamos" : "voy") a poder ir :(</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
    </div>
    <div style="display: none;" class="js-show-when-ok pt-4">
        <div class="inline-block relative w-56">
            Cuantos adultes van a venir?
        </div>
        <div class="inline-block relative w-full lg:w-64">
            <select name="@nameof(Model.ConfirmedAdults)" class="text-black block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                @for (var i = 1; i <= Model.Invitation.MaxAdults; i++)
                {
                    <option value="@i">@i adulte@(i == 1 ? "" : "s")</option>
                }
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
            </div>
        </div>
    </div>
    @if (Model.Invitation.MaxKids > 0)
    {
        <div style="display: none;" class="js-show-when-ok pt-4">
            <div class="inline-block relative w-56">
                Cuantos niñes van a venir?
            </div>
            <div class="inline-block relative w-full lg:w-64">
                <select name="@nameof(Model.ConfirmedKids)" class="text-black block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    @for (var i = 0; i <= Model.Invitation.MaxKids; i++)
                    {
                        <option value="@i">@i niñe@(i == 1 ? "" : "s")</option>
                    }
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
        </div>
    }
    @if (Model.Invitation.MaxBabies > 0)
    {
        <div style="display: none;" class="js-show-when-ok pt-4">
            <div class="inline-block relative w-56">
                Cuantos bebés van a venir?
            </div>
            <div class="inline-block relative w-full lg:w-64">
                <select name="@nameof(Model.ConfirmedBabies)" class="text-black block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                    @for (var i = 0; i <= Model.Invitation.MaxBabies; i++)
                    {
                        <option value="@i">@i bebé@(i == 1 ? "" : "s")</option>
                    }
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
        </div>
    }
    <div class="text-center">
        <button type="submit" class="js-show-when-selected mt-4 bg-black hover:bg-slate-700 text-white font-bold py-2 px-4 rounded" style="display: none;">Confirmar!</button>
    </div>
</form>

@section Javascript
{
    <script type="text/javascript">
    $(document).ready(function() {
        $('.js-response-field').change(function (){
            var value = $(this).val(); 
            if (value === "True") {
                $('.js-show-when-ok').show();
            } else {
                $('.js-show-when-ok').hide();
            }
            if (value) {
                $('.js-show-when-selected').show();
            } else {
                $('.js-show-when-selected').hide();
            }
        });
    });
    </script>
}
